@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

ol, ul {
  list-style: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

a:focus {
  outline: thin dotted;
}
a:active, a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
}

q {
  quotes: "“" "”" "‘" "’";
}

small {
  font-size: 80%;
}

sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  max-width: 100%;
  height: auto;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer;
}

input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.clearfix {
  zoom: 1;
}
.clearfix:before {
  content: "";
  display: table;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

html {
  font-family: sans-serif;
  line-height: 1;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: black;
}

body {
  background-image: url("../images/bg-img.png");
}

.wrap {
  width: 1182px;
  margin: 0 auto;
  zoom: 1;
}
.wrap:before {
  content: "";
  display: table;
}
.wrap:after {
  content: "";
  display: table;
  clear: both;
}

.topbar {
  background-color: #fff;
  border-top-style: solid;
  border-top-width: 3px;
  border-top-color: #99b92a;
  color: #9f9f9f;
  font-size: 14px;
  line-height: 28px;
  overflow: auto;
}

.topbar_left {
  float: left;
}
.topbar_left select {
  margin-right: 48px;
  margin-top: 5px;
  float: left;
}
.topbar_left p {
  float: left;
  margin-right: 5px;
}
.topbar_left p span {
  color: #99b92a;
  margin-left: 5px;
}

.topbar_right {
  float: right;
}
.topbar_right li {
  float: right;
}
.topbar_right span {
  margin-left: 10px;
}
.topbar_right a {
  color: #9f9f9f;
  margin-left: 10px;
}
.topbar_right a:hover {
  color: #99b92a;
}

header {
  margin-bottom: 60px;
}
header h1 {
  float: left;
  margin-top: 40px;
  margin-bottom: 40px;
  overflow: auto;
}
header h1 a {
  display: block;
  font-size: 0;
  background: url("../images/logo.png");
  width: 317px;
  height: 59px;
}

.logo {
  overflow: auto;
}

.share {
  float: right;
  margin-top: 46px;
}
.share li {
  float: right;
}
.share li a {
  display: block;
  margin-left: 5px;
}
.share input {
  float: right;
  padding: 10px;
  font-size: 16px;
}

.icon_1 {
  background: url("../images/icon-1.png");
  width: 40px;
  height: 40px;
}

.icon_2 {
  background: url("../images/icon-2.png");
  width: 40px;
  height: 40px;
}

.icon_3 {
  background: url("../images/icon-3.png");
  width: 40px;
  height: 40px;
}

.icon_4 {
  background: url("../images/icon-4.png");
  width: 40px;
  height: 40px;
}

.icon_5 {
  background: url("../images/icon-5.png");
  width: 40px;
  height: 40px;
}

.icon_6 {
  background: url("../images/icon-6.png");
  width: 40px;
  height: 40px;
}

.navbar {
  border-top-width: 8px;
  border-bottom-width: 8px;
  -webkit-border-image: url(../images/border_img.png) repeat 8;
  -o-border-image: url(../images/border_img.png) repeat 8;
  border-image: url(../images/border_img.png) repeat 8;
  overflow: auto;
}
.navbar nav {
  float: left;
  line-height: 70px;
}
.navbar nav li {
  float: left;
  margin-right: 38px;
}
.navbar nav li a {
  color: #000;
}
.navbar nav li a:hover {
  color: #99b92a;
}
.navbar button {
  float: right;
  color: #FFF;
  padding: 18px 12px 18px 46px;
  margin-top: 10px;
  background: url(../images/shopping-cart.png) 11px 13px no-repeat #99b92a;
  border-radius: 7px;
}

.information {
  padding: 20px;
  background: #FFF;
  overflow: auto;
}
.information h2 {
  float: left;
  font-size: 34px;
  font-weight: lighter;
  line-height: 52px;
}
.information span {
  font-weight: bold;
  margin-left: 5px;
  margin-right: 5px;
}
.information button {
  float: right;
  font-size: 16px;
  padding: 18px;
  color: #FFF;
  background: #99b92a;
  border-radius: 7px;
}

.products_bar {
  overflow: auto;
  line-height: 28px;
  margin-top: 65px;
  margin-bottom: 25px;
  background: url(../images/border_img.png) repeat-x center;
}
.products_bar h2 {
  float: left;
  font-size: 24px;
  font-weight: bold;
  background: url(../images/bg-img.png) repeat;
  padding-right: 10px;
}
.products_bar button {
  float: right;
  background: #99b92a;
  border-radius: 7px;
  color: #FFF;
  padding: 4px;
}

.products {
  overflow: auto;
}
.products li {
  float: left;
}
.products li hr {
  border: 1px #e7e7e7 solid;
}
.products h3 {
  font-size: 20px;
}

.Interval {
  margin-right: 20px;
}

.product_BG {
  background: url("../images/products_BG.png");
  width: 280px;
  height: 424px;
}

.recentImg {
  display: block;
  margin: 5px 1px 0 1px;
}

.sale {
  background: url(../images/sale.png) no-repeat;
}

.saleInfo {
  margin: 10px 17px 10px 15px;
}
.saleInfo span {
  font-size: 18px;
  line-height: 32px;
}
.saleInfo button {
  float: right;
  background: #848484;
  color: #f6f6f6;
  font-size: 12px;
  padding: 8px;
  border-radius: 7px;
}

.priceInfo {
  margin: 22px 35px 20px 15px;
}
.priceInfo h3 {
  margin-bottom: 8px;
  font-size: 20px;
}
.priceInfo p {
  color: #7e7e7e;
  line-height: 24px;
  font-size: 14px;
}

.viewTheProduct {
  margin: 16px 0 0 15px;
  color: #99b92a;
  display: block;
}
.viewTheProduct span {
  margin-left: 5px;
  color: #7e7e7e;
}

.FEATUREDimg {
  display: border-left;
}

.brands {
  overflow: auto;
  margin-bottom: 60px;
}
.brands li {
  float: left;
  background: #FFF;
  border: 1px #e7e7e7 solid;
}
.brands a {
  width: 234px;
  height: 130px;
  text-align: center;
  line-height: 130px;
  display: block;
}
.brands img {
  vertical-align: middle;
}

footer {
  background: #FFF;
  overflow: auto;
}
footer h3 {
  font-size: 24px;
}

.fooUl {
  margin-top: 45px;
}

.fooBlock {
  float: left;
}

.followUs {
  margin-right: 60px;
}
.followUs a {
  display: block;
}
.followUs h3 {
  margin-bottom: 15px;
}
.followUs ul {
  margin-bottom: 120px;
}
.followUs li {
  float: left;
  margin-right: 5px;
}

.fooLogo {
  width: 240px;
  height: 45px;
  font-size: 0;
  margin-bottom: 45px;
}

.recentPosts {
  margin-right: 50px;
}
.recentPosts h3 {
  margin-bottom: 24px;
}
.recentPosts h4 {
  font-size: 15px;
}
.recentPosts li {
  border: 1px #e7e7e7 solid;
  border-radius: 9px;
  padding: 15px 10px 15px 85px;
  margin-bottom: 16px;
}
.recentPosts li p {
  font-size: 13px;
  line-height: 24px;
}
.recentPosts li span {
  color: #99b92a;
  margin-left: 5px;
}

.posts_1 {
  background: url(../images/posts-1.png) 0px 0px no-repeat;
}

.posts_2 {
  background: url(../images/posts-2.png) 0px 0px no-repeat;
}

.contacts {
  margin-right: 50px;
}
.contacts h3 {
  margin-bottom: 24px;
}
.contacts li {
  font-size: 14px;
  margin-bottom: 10px;
}

.contactsMargin {
  margin-bottom: 32px;
}

.peopleSay {
  width: 330px;
}
.peopleSay h3 {
  margin-bottom: 24px;
}
.peopleSay li {
  margin-bottom: 22px;
  zoom: 1;
}
.peopleSay li:before {
  content: "";
  display: table;
}
.peopleSay li:after {
  content: "";
  display: table;
  clear: both;
}
.peopleSay div {
  float: left;
  width: 74px;
  margin-right: 10px;
  text-align: center;
}
.peopleSay div a {
  display: block;
  margin-bottom: 7px;
  width: 74px;
  height: 74px;
  border-radius: 50%;
}
.peopleSay div span {
  font-size: 14px;
  font-weight: 900;
}
.peopleSay p {
  float: left;
  background: url(../images/dotdot.png) 95% 90% no-repeat #f6f4f5;
  width: 165px;
  height: 70px;
  padding: 10px 50px 10px 10px;
  border: 1px #e7e7e7 solid;
  border-radius: 9px;
  font-size: 12px;
  line-height: 18px;
}

.people_1 {
  background: url(../images/people-1.png) 50% 50% no-repeat #e1e1e1;
}

.people_2 {
  background: url(../images/people-2.png) 50% 50% no-repeat #e1e1e1;
}

.bottombar {
  background-color: #000;
  border-top-style: solid;
  border-top-width: 3px;
  border-top-color: #99b92a;
  color: #9f9f9f;
  font-size: 14px;
  line-height: 28px;
  overflow: auto;
}

.bottombar-left {
  float: left;
}
.bottombar-left li {
  float: left;
}
.bottombar-left a {
  margin: 10px 15px 10px 0;
  color: #858585;
  font-size: 8px;
}
.bottombar-left a:hover {
  color: #99b92a;
}

.bottombar-right {
  float: right;
  color: #858585;
  font-size: 6px;
}

.slide_wrap {
  width: 100%;
  min-height: 420px;
  margin: 0 auto;
  overflow: hidden;
}

.iosslider {
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 1180px;
  height: 420px;
  margin: 0 auto;
}

.iosslider .slider {
  width: 100%;
  height: 100%;
}

.iosslider .slider .slide {
  float: left;
  width: 1180px;
  height: 420px;
}

.prevButton {
  left: 400px;
  background: url(../images/btn_slideShow.png) no-repeat 0px 2px;
}

.nextButton {
  right: 400px;
  background: url(../images/btn_slideShow.png) no-repeat -82px 2px;
}

.btn_Slide {
  position: absolute;
  top: 480px;
  width: 84px;
  height: 84px;
  border-radius: 90px;
  z-index: 99;
}
.btn_Slide:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

/*# sourceMappingURL=all.css.map */
