body
	background-image: url("../images/bg-img.png")
.wrap
	width: $width
	margin: 0 auto

.topbar
	background-color: #fff
	border-top-style: solid
	border-top-width: 3px
	border-top-color: #99b92a
	color: #9f9f9f
	font-size: 14px
	line-height: 28px
	overflow: auto

.topbar_left
	float: left	
	select
		margin-right: 48px
		margin-top: 5px
		float: left
	option
		color: $hot_color
	p
		float: left
		margin-right: 5px
		span
			color: $hot-color
			margin-left: 5px

.topbar_right
	float: right
	li
		float: right
		span
  			margin-left: 10px
		a
			color: #9f9f9f
			margin-left: 10px
			&:hover
				color: $hot_color
header
	h1 a
		display: block
		+bg('logo.png')
