body
	background-image: url("../images/bg-img.png")
.wrap
	width: $width
	margin: 0 auto
	&:before
		content: ""
		display: table
	&:after 
		content: ""
		display: table
		clear: both
	zoom: 1

.topbar
	background-color: #fff
	border-top-style: solid
	border-top-width: 3px
	border-top-color: #99b92a
	color: #9f9f9f
	font-size: 14px
	line-height: 28px
	overflow: auto

.topbar_left
	float: left	
	select
		margin-right: 48px
		margin-top: 5px
		float: left
	p
		float: left
		margin-right: 5px
		span
			color: $hot-color
			margin-left: 5px

.topbar_right
	float: right
	
	li
		float: right
		
	span
		margin-left: 10px
	a
		color: #9f9f9f
		margin-left: 10px
		&:hover
			color: $hot_color
header
	margin-bottom: 60px
	h1 
		float: left
		margin-top: 40px
		margin-bottom: 40px
		overflow: auto
		a
			display: block
			font-size: 0
			+bg('logo.png')
.logo
	overflow: auto
.share
	float: right
	margin-top: 46px
	li
		float: right
		a
			display: block
			margin-left: 5px

	input
		float: right
		padding: 10px
		font-size: 16px	

.icon_1
	+bg('icon-1.png')

.icon_2
	+bg('icon-2.png')

.icon_3
	+bg('icon-3.png')

.icon_4
	+bg('icon-4.png')

.icon_5
	+bg('icon-5.png')

.icon_6
	+bg('icon-6.png')

.navbar
	border-top-width: 8px
	border-bottom-width: 8px
	-webkit-border-image: url(../images/border_img.png) repeat 8
	-o-border-image: url(../images/border_img.png) repeat 8
	border-image: url(../images/border_img.png) repeat 8
	overflow: auto
	nav	
		float: left
		line-height: 70px
		li
			float: left
			margin-right: 38px
			a
				color: #000
				&:hover
					color: $hot_color
	button
		float: right
		color: #FFF
		padding: 18px 12px 18px 46px
		margin-top: 10px
		background: url(../images/shopping-cart.png) 11px 13px no-repeat  $hot_color
		border-radius: 7px

.information
	padding: 20px
	background: #FFF
	overflow: auto
	h2
		float: left
		font-size: 34px
		font-weight: lighter
		line-height: 52px
	span
		font-weight: bold
		margin-left: 5px
		margin-right: 5px
	button
		float: right
		font-size: 16px
		padding: 18px
		color: #FFF
		background: $hot_color
		border-radius: 7px

.products_bar
	overflow: auto
	line-height: 28px
	margin-top: 65px
	margin-bottom: 25px
	background: url(../images/border_img.png) repeat-x center
	h2
		float: left
		font-size: 24px
		font-weight: bold
		background: url(../images/bg-img.png) repeat
		padding-right: 10px
	button
		float: right	
		background: $hot_color
		border-radius: 7px
		color: #FFF
		padding: 4px

.products
	overflow: auto
	li
		float: left
		hr
			border: 1px #e7e7e7 solid
	h3
		font-size: 20px		

.Interval
	margin-right: 20px

.product_BG
	+bg('products_BG.png')

.recentImg	
	display: block
	margin: 5px 1px 0 1px

.sale
	+bg('sale.png')
	float: left
	position: relative
	margin-top: -240px

.saleInfo
	margin: 10px 17px 10px 15px
	span
		font-size: 18px
		line-height: 32px
	button
		float: right
		background: #848484
		color: #f6f6f6
		font-size: 12px
		padding: 8px
		border-radius: 7px
		&:before
			content: ""
			display: table
		&:after 
			content: ""
			display: table
			clear: both

.priceInfo
	margin: 22px 35px 20px 15px
	h3
		margin-bottom: 8px
		font-size: 20px
	p
		color: #7e7e7e
		line-height: 24px
		font-size: 14px

.viewTheProduct
	margin: 16px 0 0 15px
	color: $hot-color
	display: block
	span
		margin-left: 5px
		color: #7e7e7e

.FEATUREDimg
	display: border-left

.brands
	overflow: auto
	margin-bottom: 60px	
	li
		float: left
		background: #FFF
		border: 1px #e7e7e7 solid
	a
		width: 234px
		height: 130px
		text-align: center
		line-height: 130px
		display: block
	img
		vertical-align: middle	

.btn_gotoTop
	background: url(../images/btn_gotoTop.png) 50% 50% no-repeat $hot-color
	width: 40px
	height: 40px
	right: 2%
	bottom: 50px
	position: fixed
	border-radius: 5px
	border: 1px solid #7a9a0b
			

footer
	background: #FFF
	overflow: auto
	h3
		font-size: 24px
.fooUl
	margin-top: 45px

.fooBlock
	float: left

.followUs
	margin-right: 60px
	a
		display: block
	h3
		margin-bottom: 15px
	ul 
		margin-bottom: 120px
	li	
		float: left
		margin-right: 5px			
		
.fooLogo
	width: 240px
	height: 45px
	font-size: 0
	margin-bottom: 45px


.recentPosts
	margin-right: 50px
	h3
		margin-bottom: 24px
	h4
		font-size: 15px	
	li
		border:	1px #e7e7e7 solid
		border-radius: 9px
		padding: 15px 10px 15px 85px
		margin-bottom: 16px
		p
			font-size: 13px
			line-height: 24px
		span
			color: $hot-color
			margin-left: 5px	

.posts_1		
	background: url(../images/posts-1.png) 0px 0px no-repeat 

.posts_2		
	background: url(../images/posts-2.png) 0px 0px no-repeat 

.contacts
	margin-right: 50px
	h3
		margin-bottom: 24px
	li
		font-size: 14px
		margin-bottom: 10px
.contactsMargin
	margin-bottom: 32px
			
.peopleSay
	width: 330px
	
	h3
		margin-bottom: 24px
	li
		margin-bottom: 22px
		&:before
			content: ""
			display: table
		&:after 
			content: ""
			display: table
			clear: both
		zoom: 1
	div
		float: left
		width: 74px
		margin-right: 10px
		text-align: center
		a
			display: block	
			margin-bottom: 7px
			width: 74px
			height: 74px
			border-radius: 50%
		span 
			font-size: 14px
			font-weight: 900
	p
		float: left
		background: url(../images/dotdot.png) 95% 90% no-repeat #f6f4f5
		width: 165px
		height: 70px
		padding: 10px 50px 10px 10px
		border:	1px #e7e7e7 solid
		border-radius: 9px
		font-size: 12px
		line-height: 18px
		
.people_1
	background: url(../images/people-1.png) 50% 50% no-repeat #e1e1e1
	
.people_2
	background: url(../images/people-2.png) 50% 50% no-repeat #e1e1e1	


.bottombar
	background-color: #000
	border-top-style: solid
	border-top-width: 3px
	border-top-color: #99b92a
	color: #9f9f9f
	font-size: 14px
	line-height: 28px
	overflow: auto

.bottombar-left	
	float: left
	li
		float: left
	a
		margin: 10px 15px 10px 0
		color: #858585
		font-size: 8px
		&:hover
			color: $hot-color

.bottombar-right
	float: right
	color: #858585
	font-size: 6px